@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root{
  --main-color: linear-gradient(135deg,rgba(188,43,80,1) 30%,rgba(130,84,235,1));
}

html{
	scroll-behavior: smooth;
}

body{
  font-family: 'Noto Sans','Microsoft JhengHei', sans-serif;
  background: #000;
  color: #fff
}

img{
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: #fff;
  
}

h1{
  font-size: 100px;
  font-weight: 700;
  background: var(--main-color);
  background-clip: text;
  color: transparent;
  line-height: 136.2px;
}

h2{
  font-size: 32px;
  line-height: 43.58px;
  font-weight: 700;
  letter-spacing: 3.2px;
  margin-bottom: 28px;
}

p{
  line-height: 21.79px;
  font-weight: 400;
  letter-spacing: 2.4px;
  margin-bottom: 12px;
}

.bt{
  background: var(--main-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    background: linear-gradient(135deg,rgba(188,43,80,.8) 30%,rgba(130,84,235,.8));
  }
}


/* header section */
.header{
  background: rgba(0,0,0,.8);
  padding: 5px 8%;
  display: flex;
  justify-content: space-between;
  position: fixed;
	top: 0; left: 0; right: 0;
  align-items: center;
  z-index: 1000;
  .logo{
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 40px;
    line-height: 54.48px;
  }
  .icons{
    #user-btn,#search-btn{
      color: rgba(222,217,232,.5);
      font-size: 24px;
      cursor: pointer;
      &:hover{
        background: var(--main-color);
        background-clip: text;
        color: transparent;
      }
    }
    #search-btn{
      margin-right: 40px;
    }
    #user-btn{
      position: relative;
      .user-menu{
        position: absolute;
        top: 30px;
        right: 12px;
        min-width: 97px;
        background: #bc2b50;
        text-align: center;
        display: block;
        border-radius: 10px 0 10px 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition: .3s;
        z-index: 1000;
        &.active{
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        li{
          border-bottom: 1px solid rgba(255, 255, 255, 0.427);
          &:last-child{
            border-bottom: none;
          }
          &:hover{
            background: rgba(0, 0, 0, 0.3);
          }
          a{
            line-height: 30px;
            font-size: 16px;
            display: flex;
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
  .search-form{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background:rgba(0,0,0,.8);
    padding: 10px 12%;
    border-top: 2px solid #444;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: .3s;
    &.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    form{
      display: flex;
      input{
        width: 100%;
        outline:medium;
        margin-right: 10px;
      }
      button{
        border: none;
        background: none;
        cursor: pointer;
        align-items: center;
        i{
          font-size: 20px;
          color: rgba(222,217,232,.5);
        }
        &:hover{
          i{
            color: #bc2b50;
          }
        }
      }
    }
  }
}
/* header section */



/* login section */
.login-container{
  position: fixed;
  top: -120%;
  // top: 0;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.395);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  .login-form{
    position: relative;
    background: rgba(0, 0, 0, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 86px 0 25px;
    border-radius: 10px;
    h2{
      font-size: 32px;
      font-weight: 700;
      line-height: 38.4px;
      margin-bottom: 17px;
    }
    .input{
      width: 414px;
      height: 37px;
      margin: 0 96px;
      font-size: 16px;
      padding-left: 14px;
      outline:medium;
      border: none;
      &::placeholder{
        font-size: 16px;
        color: rgb(91, 91, 91);
      }
    }
    .login-errorMessage{
      color: #ff0000;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      text-align: left;
      width: 414px;
      padding-left: 14px;
    }
    .login-btn{
      width: 428px;
      // height: 37px;
      text-align: center;
      background: var(--main-color);
      border: none;
      margin-bottom: 24px;
      transition: .3s;
      cursor: pointer;
      padding: 12px 0;
      &:hover{
        background: linear-gradient(135deg,rgba(188,43,80,.8) 30%,rgba(130,84,235,.8));
      }
    }
    a{
      margin-bottom: 15px;
      font-size: 12px;
      transition: .3s;
    }
  }
  #close-btn{
    position: absolute;
    font-size: 3rem;
    background: var(--main-color);
    background-clip: text;
    color: transparent;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    transition: .3s;
    &:hover{
      transform: rotate(90deg);
      color: #fff;
    }
  }
}
/* login section */





/* banner section */
.banner{
  background: url('../images/banner.jpg') 100% 35%;
  background-size: cover;
  height: 560px;
  margin-bottom: 120px;
  .liner-bg{
      width: 100%;
      height: 100%;
      background:  linear-gradient(left,rgba(255, 255, 255, 0)30%,rgba(0, 0, 0, 1)69%);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    .content{
      margin-right: 10%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      span{
        font-size: 32px;
        line-height: 43.58px;
        margin-bottom: 40px;
      }
      a{
        width: 320px;
        height: 48px;
        margin-bottom: 53px;
      }
    }
  }
  
}
/* banner section */



/* intro section */
.intro{
  background: var(--main-color);
  margin: 0 10%;
  border-radius: 20px;
  display: flex;
  margin-bottom: 80px;
  .image{
    background: url('../images/intro.jpg') center;
    background-size: cover;
    width: 640px;
    height: 320px;
    transform: translateY(-40px);
    margin-left: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    .icon{
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      i{
        font-size: 80px;
        transition: .2s;
      }
      &:hover{
        i{
          background: var(--main-color);
          background-clip: text;
          color: transparent;
        }
      }
    }
  }
  .content{
    margin: 0 auto;
    margin-top: 80px;
  }
}
/* intro section */


/* multiple platform section */
.platform{
  background: radial-gradient(rgba(188,43,80,.3) 30%,rgba(130,84,235,.3));
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  .content{
    margin-bottom: 42.64px;
  }
  .pic{
    display: flex;
    justify-content: center;
    li{
      width: 264px;
      height: 264px;
      background: #bc2b50;
      position: relative;
      display: flex;
      border-radius: 20px;
      box-shadow: rgba(0, 0, 0, 0.3);
      overflow: hidden;
      margin-right: 48px;
      .shadow{
        width: 100px;
        height: 100px;
        background: rgba(0, 0, 0, 0.4);
        box-shadow:0 0 19px 20px rgba(0, 0, 0, 0.4);
        -webkit-transform:scale(.85);
        transform:scale(1);
        position: absolute;
        right: -35px;
        bottom: -35px;
        border-radius: 50px;
      }
      img{
        object-fit: cover;
        width: 120%;
        transition: .3s;
      }
      &:nth-child(1){
        img{
          transform: scale(1.2) translateY(10px) translateX(10px);
        }
      }
      &:nth-child(2){
        img{
          transform: scale(1.2) translateY(29px) translateX(28px);
        }
      }
      &:nth-child(3){
        img{
          transform: scale(1.4) translateY(12px) translateX(8px);
        }
      }
      &:nth-child(4){
        img{
          transform: scale(1.4) translateY(11px) translateX(38px);
        }
        margin-right: 0;
      }
      
      .text{
        position: absolute;
        top: 0;
        left: 0;
        width: 264px;
        height: 264px;
        display: flex;
        align-items: flex-end;
        text-align: left;
        transition: .3s;
        h2{
          margin-bottom: 0;
          font-size: 20px;
          line-height: 27.24px;
          width: 200px;
          margin: 0 auto;
          margin-bottom: 31.68px;
          color: rgba(0, 0, 0, 0);
          transition: .5s;
        }
      }
      &:hover{
        &:nth-child(1){
          img{
            transform: scale(1.3) translateY(10px) translateX(10px);
          }
        }
        &:nth-child(2){
          img{
            transform: scale(1.3) translateY(29px) translateX(28px);
          }
        }
        &:nth-child(3){
          img{
            transform: scale(1.5) translateY(12px) translateX(8px);
          }
        }
        &:nth-child(4){
          img{
            transform: scale(1.5) translateY(11px) translateX(38px);
          }
        }
        .text{
          background: rgba(0, 0, 0, 0.3);
          h2{
            color: #fff;
          }
        }
      }
    }
  }
}
/* multiple platform section */



/* subscribe section */
.subscribe{
  padding-top: 80px;
  padding-bottom: 80px;
  ul{
    display: flex;
    justify-content: center;
    li{
      width: 560px;
      height: 480px;
      border-radius: 20px;
      &:nth-child(1){
        background: url(../images/surface-KIDGf43UPOw-unsplash.jpg) 72% 95%;
        background-size: 210%;
        margin-right: 80px;
      }
      &:nth-child(2){
        background: url(../images/onur-binay-zEm-VSe2yKY-unsplash.jpg) 38% 88%;
        background-size: 170%;
      }
      .cover{
        background: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: .3s;
        .content{
          width: 480px;
          margin: 0 auto;
          margin-bottom: 14px;
          overflow: hidden;
          h2{
            margin-bottom: 0;
            transform: translateY(40%);
            transition: .4s;
            line-height: 72px;
            span{
              font-size: 48px;
              letter-spacing: 4.8px;
            }
          }
        }
        a{
          width: 480px;
          height: 48px;
          margin: 0 auto;
          margin-bottom: 33px;
          box-shadow: rgba(0, 0, 0, 0.3);
        }
        &:hover{
          background: rgba(0, 0, 0, .4);
          .content{
            h2{
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}
/* subscribe section */




/* footer */
.footer{
  height: 233px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  ul{
    li{
     &:first-child{
      margin-bottom: 28px;
     }
     i{
      font-size: 24px;
      margin-right: 30px;
      cursor: pointer;
      transition: .2s;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        background: var(--main-color);
        background-clip: text;
        color: transparent;
        transform: scale(2);
      }
     }
    }
  }
}
/* footer */